#title{
  margin-right: 30px;
  color: white;
  text-underline-offset: none;
}
.mat-form-field{
  font-size: 13px;
}
.mat-button{
  height: 33px;
}
.mat-toolbar{
  background-color: green;
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

a:hover {  
  color: #337ab7;
  text-decoration: none;
}
